/*Base Style*/

body{
	background: #f8f8f8;
}
body section{
	margin: 0 auto;
	max-width: 500px;
}
/*End*/

/*Modulers Style*/

.ibox{
	background-color: #fff;
}
.ibox-title{
	text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.ibox h5{
	text-align: center;
	color: gray;
}
.div_shadow
{ 
	-webkit-box-shadow: 7px 7px 16px 0px rgba(50, 50, 50, 0.16);
	-moz-box-shadow:    7px 7px 16px 0px rgba(50, 50, 50, 0.16);
	box-shadow:         7px 7px 16px 0px rgba(50, 50, 50, 0.16);
}
.media-options{
	text-align: center;
	margin-top: 15px;
    margin-bottom: 15px;
}
.fa-facebook{
	color: #4867aa;
}
.fa-google{
	color: #ea4335;
}
.form {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}
.form input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #ccc;
    color: #2196F3;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 20px
}
.line {
    display: block;
    background: #2196F3;
    height: 3px;
    margin: 0 auto;
    margin-top: -2px;
    width: 0px;
    transition: width .3s cubic-bezier(0.4, 0, 0.2, 1)
}
.form input:focus + span.line {
    width: 100%
}
#send{
	margin-top: 10px;
	border-bottom: none;
}
#send:hover {
	border: 1px solid #2196F3;
}
.btn-default:hover {
    color: #333;
    background-color: #f8f8f8;
    border-color: #2196f3;
}
/*End*/

/*Layout style*/

.navbar{
	border-bottom: 2px solid #2196f3;
	-webkit-box-shadow: 0px 5px 16px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 5px 16px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 5px 16px 0px rgba(50, 50, 50, 0.1);	
}
.navbar-brand{
	color: #2196f3!important;
}
.nav li a:hover{
	color: #2196f3!important;
}
/*End*/

